<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} — {% endif %}АНО «ФАКТОРИАЛ» — культурно-научные и образовательные проекты</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <meta name="description" content="АНО «ФАКТОРИАЛ» — культурно-научные, образовательные и цифровые проекты на стыке просвещения, науки, IT и игровых форматов." />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>

{% include header.html %}

<main id="top">
  {{ content }}
</main>

{% include footer.html %}

<script src="/assets/js/gallery.js"></script>
</body>
</html>
